<div class="comment-section">
    <h3>Leave a comment:</h3>
    <form>
        <textarea name="comment" placeholder="Write your comment here"></textarea>
        <button type="submit" id="comment-button">Submit</button>
    </form>
</div>

<div class="like-button">
    <form>
        <button type="submit" id="like-button">Like</button>
    </form>
</div>
