<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <section>
                <h4 class="post-title">{{post_title}}</h4>
                <p class="post-text">{{text}}</p>
            </section>
        </div>
    </div>
    <div class="comment-section">
        {{>comment}}
    </div> 
    <hr class="hr-style">
</div>