<div class="main-div-nav">
    <nav class="navbar-div">
        <div>
            {{#if logged_in}}
            <div class="flexbox-div">
                <div class="flexbox-items-navbar-left">
                    <div class="logo">
                        Hello
                    </div>
                    <form id="search-form" onsubmit="return false;"> 
                        <input class="search-input" type="text" placeholder="Search.." name="search">
                        <button class="search-button" class="flex-item-nav" type="submit">&#9737;</button>
                        <div class="search-results-container"></div>
                    </form>
                </div>
                <div class="flexbox-items-navbar-right">
                    <a class="profile-link"  href="/">Homepage</a>
                    <a class="profile-link"  id="profile-button" href="/profile/{{currentUserId}}">Profile</a>
                    <div class="logout-div" id="logout-div" class="buttons">
                        <button id="logout-button" class="flex-item-nav" class="nav-buttons">Logout</button>
                    </div>
                </div>
                <div class="hamburger">
                    <div class="hamburger-container">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="flexbox-div-logout">
                    <div class="flexbox-items-logout">
                        <div class="logo">
                            hello
                        </div>
                        <div class="nav-buttons-loggedout">
                            <div class="login-div" class="buttons">
                                <a class="nav-buttons" class="login-button" class="flex-item-nav" href="login" class="links">Login</a>
                            </div>
                            <div class="register-div" class="buttons">
                                <a href="register" class="nav-buttons"class="flex-item-nav" class="links">Register</a>
                            </div> 
                        </div>
                        <div class="hamburger" id="hamburgerLoggedout">
                            <div class="hamburger-container">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>   
                </div>
                
            {{/if}}
        </div>
    </nav>
</div>

