<nav class="navbar-div">
    <div>
        {{#if logged_in}}
            <div class="flexbox-items">
                <div class="logout-div" class="buttons">
                    <button id="logout-button" class="buttons">Logout</button>
                </div>
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit</button>
                </form>
        {{else}}
        
                <div class="login-div" class="buttons">
                    <a href="login" class="links">Login</a>
                </div>
                <div class="register-div" class="buttons">
                    <a href="register" class="links">Register</a>
                </div>
            </div>    
        {{/if}}
    </div>
</nav>

