<form id="post-form">
    <div>
        <div>
            <label for="title">Title</label>
            <input type="title" id="new-post-title">
        </div>
        <div>
            <div>
                <label for="content">Content</label>
            </div>
            <div>
                <textarea type="content" id="new-post-content" placeholder="text"></textarea>
            </div>
            <div>
                <input class="tag-input" type="text" placeholder="add tags">
            </div>     
        </div> 
        <div>
            <button id="new-post-button">Submit</button>

        </div>
    </div>
</form>