<form id="post-form">
    <div>
        <label for="title">Title</label>
        <input type="text" id="new-post-title">
    </div>
    <div>
        <label for="text">Text</label>
        <textarea type="text" id="-new-post-text" placeholder="text"></textarea>
    </div>   

    <button id="new-post-button">Submit</button>
</form>