<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <p>{{id}}</p>
            <span>{{post_title}}</span>
            <p>{{text}}</p>
        </div>
    </div>
    <div class="comment-section">
        <h3>Leave a comment:</h3>
        <form>
            <textarea name="comment" id="comment-text" placeholder="Write your comment here"></textarea>
            <button type="submit" id="comment-button">Submit</button>
        </form>
    </div>

    <div class="like-button">
        <form>
            <button type="submit" id="like-button">Like</button>
        </form>
    </div>

</div>
