
<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <section>
                <h4 class="post-title">{{post_title}}</h4>
                <p>{{text}}</p>
            </section>
            {{#each post_tags as |post_tag|}}
                <span class="tag">{{post_tag.tag.tag_name}}</span>
            {{/each}}
        </div>
        <h3>Leave a comment:</h3>
        <form>
            <textarea name="comment" class="new-comment-input" placeholder="Write your comment here"></textarea>
            <button type="submit" class="new-comment-inputs" class="comment-button">Submit</button>
        </form>
    </div>
    <div>
        <button type="submit" class="like-button">Like</button>
        <span class="likes-count">0</span>
    </div>
    <div class="comment-section">
        {{>comment}}
    </div>
    <hr>
</div>


