
<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <h3>{{user.username}}</h3>
            <span>{{post_title}}</span>
            <p>{{text}}</p>
        </div>
    </div>
    <div>
        <button type="submit" class="like-button">Like</button>
        <span class="likes-count">0</span>
    </div>
    <div class="comment-section">
        <h3>Leave a comment:</h3>
            {{>comment}}
        <form>
            <textarea name="comment" id="comment-text" placeholder="Write your comment here"></textarea>
            <button type="submit" class="comment-button">Submit</button>
        </form>
    </div>
</div>

