
<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <section>
                <h4 class="post-title">{{post_title}}</h4>
                <p>{{text}}</p>
            </section>
            {{#each post_tags as |post_tag|}}
                <span class="tag">{{post_tag.tag.tag_name}}</span>
            {{/each}}
        </div>
        <div>
            <button type="submit" class="like-button">Like</button>
            <span class="likes-count">0</span>
        </div>
    </div>
    <div class="comment-section">
        {{>comment}}
    </div>
    <hr class="hr-style">
</div>


