<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/navbar.css">
      <link rel="stylesheet" href="css/register.css">
      <link rel="stylesheet" href="css/login.css">
      <link rel="stylesheet" href="css/main.css">
    <title>Bloggin'</title>
</head>
<body>
    {{>navbar logged_in=logged_in}}
    {{{ body }}}
    <script src="/index.js"></script>
    <script src="/logout.js"></script>
</body>
</html>