{{>navbar logged_in=logged_in}}

<H1>Dashboard</H1>


<div class="post" data-post-id="{{id}}">
    {{>newPost}}
    {{#if posts}}
        {{#each posts as |post|}}
        {{> post}}
        {{/each}}
    {{else}}
        <p>"You have no posts"</p>  
    {{/if}}

</div>