{{>navbar logged_in=logged_in}}
<div class="header-div" >

</div>
<div class="post-container">
    <div class="main-div-profile">
        <div class="post-div">
            {{#if posts }}
                {{#each posts as |post|}}
                    {{> post}}
                {{/each}}
            {{else}}
                <p>"They have no posts"</p>
            {{/if}}
        </div>
    </div>
</div>