
<div class="header-div" >

</div>
<div class="homepage-container">
    <div class="post-container-home">
        <div class="main-div-homepage">
            <div class="post-div-home">
                {{#if posts }}
                    {{#each posts as |post|}}
                        {{> homepagePost }}
                    {{/each}}
                {{else}}
                    <p>"They have no posts"</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
