

<div class="form-div">
    <form id="login-form">
        <div class="inLa-div">
            <div class="title-div">
                <h1>Login</h1>
            </div>  
            <div class="form-elements-register">
                <label class="labels" for="username"></label>
                <input class="inputs" type="username" id="username" placeholder="Username">
            </div>
            <div class="form-elements">
                <label for="password"></label>
                <input class="inputs" type="password" id="password" placeholder="Password">
            </div class>
                <div class="button-div">
                    <button id="login-button" type="submit">Login</button>
                </div>
        </div>
    </form>

</div>

<script src="login.js"></script>