
<div class="form-div-register">
    <form id="register-form">
        <div class="inLa-div-register">
            <div class="title-div-register">
                <h1>Register</h1>
            </div>
            <div class="form-elements-register">
                <label for="username"></label>
                <input class="inputs-register" type="username" id="reg-username" placeholder="Username">
            </div>
            <div class="form-elements-register">
                <label for="email"></label>
                <input class="inputs-register" type="email" id="reg-email" placeholder="Email">
            </div>
            <div class="form-elements-register">
                <label for="first name"></label>
                <input class="inputs-register" type="first_name" id="reg-fname" placeholder="First name">
            </div>    
            <div class="form-elements-register">
                <label for="last name"></label>
                <input class="inputs-register" type="first_name" id="reg-lname" placeholder="Surname">
            </div>    
            <div class="form-elements-register">
                <label for="password"></label>
                <input class="inputs-register" type="password" id="reg-password" placeholder="Password">
            </div>
            <div class="form-elements-register" class="button-div-register">
                <button type="submit" id="register-button">Register</button>
            </div>  
        </div>
    </form>
</div>

<script src="/register.js"></script>
