.links {
    border: thick solid;
}

.flexbox-items {
    display: flex;
    justify-content: end;
}

.navbar-div {
    background-color: brown;
}

.links {
    background-color: sandybrown;
}

.buttons {
    flex-grow: 1;
}