.post-container {
    display: flex;
    justify-content: center;
}

.main-div-post {
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    width: 60%;
}

.post-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 800px;
}

.new-post-div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.profile-data-div {
    display: flex;
    background-color: rgb(255, 100, 45);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.follow-button {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    color: rgb(255, 100, 45);
    background-color: #333;
    height: 35px;
    width: 60px;
    font-size: 15px;
    border: 0;
    margin-bottom: 6px;
}

.following-button {
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    color: rgb(255, 100, 45);
    background-color: #333;
    height: 35px;
    width: 80px;
    font-size: 15px;
    border: 0;
    margin-bottom: 6px;
}

.follow-button:hover {
    color: #FAF9F6;
}

.following-button:hover {
    color: #FAF9F6;
}

.username-title {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

.counts {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}



.ed-de-button-div {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 10px;
    padding-top: 50px;
}

.follows-count {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: rgb(255, 100, 45);
}

.following-count {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: rgb(255, 100, 45);
}

/* Follower modal */

.follower-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}

.follows-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}

.modal-content {
    background-color: #333;
    color: #aaa;
    border: 0;
    margin: 15% auto; 
    padding: 5px;
    border: 1px solid #888;
    width: 30%;
    max-height: 50%;
    min-height: 30%;
    border-radius: 5px;
}

.follower-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follower-close-div {
    display: flex;
    justify-content: flex-end;
}

.follower-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.follower-close-button:hover,
.follower-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-follower-list {
    text-decoration: none;
    content: #FAF9F6;
}

/* Following modal */

.following-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}


.following-modal-content {
    background-color: #333;
    color: #aaa;
    border: 0;
    margin: 15% auto; 
    padding: 5px;
    border: 1px solid #888;
    width: 30%;
    max-height: 50%;
    min-height: 30%;
    border-radius: 5px;
}

.following-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.following-close-div {
    display: flex;
    justify-content: flex-end;
}

.following-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.following-close-button:hover,
.following-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-following-list {
    text-decoration: none;
    content: #FAF9F6;
}